<template>
    <div class="container">
        <div class="content has-text-center" style="text-align: center;">
            <h1>Cargando...</h1>
        </div>
    </div>
</template>

<style lang="css" scoped>
    .content{
        padding: 20px;
        min-height: 40vh;
    }
</style>