<template>
    <div class="container">
        <div class="columns">
            <div class="column is-5 is-offset-4">
                <div class="notification" :class="{'is-danger' : error ? 'is-success' : success}">
                    <p v-show="success"><slot name="numerotracks"></slot></p>
                    <p v-show="error">No se encontraron canciones que mostrar</p>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
export default {
    props: {
        error: Boolean,
        success: Boolean
    }
}
</script>

<style lang="scss" scoped>
    .notification{
        margin: 10px;
    }
</style>