<template>

  <div>
      <v-toolbar>
      <v-toolbar-title>Canciones que están Vue-nisimas!</v-toolbar-title>

      <div class="flex-grow-1"></div>

      <v-toolbar-items>
        <v-btn text><router-link class="nav-item" :to="{name: 'search'}">Buscar</router-link></v-btn>
        <v-btn text><router-link class="nav-item" to="/about">Nosotros</router-link></v-btn>
        <v-btn text><router-link class="nav-item" to="/vuety">Probando VUETY</router-link></v-btn>

      </v-toolbar-items>
      
     
      </v-toolbar>
  
    </div>

</template>

<script>

export default {

}
</script>