<template>
    <v-row v-if="track && track.album" style="background: gray;">
        <v-col cols="12" style="padding-left: 40%;;">
        <p class="">
            <img :src="track.album.images[0].url" >
        </p>
        <p>
            <strong>{{track.name}}</strong>
            <small>[{{track.duration_ms | ms-to-mm}}]</small>
        </p>
        <p>
            <audio :src="track.preview_url" controls></audio>
        </p>
        </v-col>
    </v-row>
</template>

<script>
export default {

    data(){
        return{ 
            track: {
                name: 'song'
            }
        }
    },

    created () {
        //$bus esta a nivel global y $on es el evento que esta a la ESCUCHA de los eventos GLOBALES DE $BUS
        this.$bus.$on('playingtrack',(track) =>{ //track es la propiedad que llega de $bus.$emit()
            this.track = track
        })
    }
}
</script>

<style lang="scss" scoped>
    img{
        width: 124px;
        border-radius: 50%;
    }
</style>