<template>
<main>
  <PMnotification v-if="notificationError || notificationSuccess " :success="notificationSuccess" :error="notificationError">
      <span slot="numerotracks">{{searchMessage}}</span>
  </PMnotification>
  <section class="section">
    <nav class="nav">
      <v-row >
        
        <v-col cols="12">
          <v-col sm="12">
          <v-text-field
            label="Buscar canciones..."
            single-line
            solo
            v-model="searchQuery"
            @keyup.enter="search()"
          ></v-text-field>
          </v-col>
          <v-col sm="12" style="">
        <v-btn x-large color="success" dark v-on:click="search">Buscar</v-btn>
        <v-btn x-large color="error" dark v-on:click="function(){tracks = []}">&times;</v-btn>
          </v-col>
        </v-col>
      </v-row>
      <PMloader v-show="isloading"></PMloader>
      <div class="container results" v-show="!isloading">
        <div class="columns">
          <div class="column">
            <ul>
              <li v-for="track in tracks" style="margin-bottom: 10px; max-width: 40%; margin-left:30%;">
                <PMtrack 
                v-bind:track="track" 
                @select="setSelectedTrack" 
                :class="{'is-active'  : track.id === selectedTrack}"
                v-blur="track.preview_url"
                >
    
                </PMtrack>
              </li>
            </ul>
          </div>
        </div>
      </div>
      <br>
      <div> 
      </div>
    </nav>
  </section>
</main>
</template>

<script>
import trackService from '@/services/track'

import PMtrack from '@/components/track.vue'

import PMnotification from '@/components/shared/notification.vue'
import PMloader from '@/components/shared/loader.vue'

export default {
  data () {
    return {
      searchQuery: '',
      tracks: [],
      isloading: false,
      selectedTrack: '',
      notificationError: false,
      notificationSuccess: false
    }
  },
  components : {
      PMtrack:PMtrack,
      PMloader: PMloader,
      PMnotification: PMnotification
     },
  computed: {
    searchMessage () {
      return ` Resultados encontrados: ${this.tracks.length}`
    }
  },

  methods: {
    search () {
      if(!this.searchQuery){return} //que no busque algo vacio

      this.isloading = true
      trackService.search(this.searchQuery)
      .then((res)=>{ //metodo search devuelve una promise
        this.notificationError = res.tracks.total === 0 
        this.notificationSuccess =  res.tracks.total >= 1
        this.tracks = res.tracks.items
        this.isloading = false
      })
    },

    setSelectedTrack (id) {
      this.selectedTrack = id
    }
  },
  watch: {
    notificationError () {
      if(this.notificationError){ 
        setTimeout(()=>{
          this.notificationError = false
        }, 3000)
      }
    },

    notificationSuccess () {
      if(this.notificationSuccess){
        setTimeout(()=>{
          this.notificationSuccess = false
        }, 3000)
      }
    }

  }
}
</script>

<style lang="scss">
 .is-active{
   border: 3px #23d160 solid;
 }
</style>
