<template>
<div>

  <v-card
    class="mx-auto"
    max-width="600"
    v-if="track && track.album"
  >
    <v-img
      class="white--text align-end"
      height="200px"
      :src="track.album.images[0].url"
    >
      <v-card-title><strong>{{track.name}}</strong></v-card-title>
    </v-img>

    <v-card-subtitle class="pb-0">{{track.artists[0].name}}</v-card-subtitle>

    <v-card-text class="text--primary">
      <div><small>{{track.duration_ms | ms-to-mm}}</small></div>

      <div>More description album</div>
    </v-card-text>

    <v-card-actions>
      <v-btn
        color="orange"
        text
      >
        <span class="icon is-small" @click="selectTrack">&#9199;</span>
      </v-btn>

      <v-btn
        color="orange"
        text
      >
        <span class="icon is-small" @click="goToTrack(track.id)">&#9197;</span>
      </v-btn>
    </v-card-actions>
  </v-card>







<!--
    <div class="card" v-if="track && track.album">
        <div class="card-image">
            <figure class="image is-1by1"><img :src="track.album.images[0].url" alt=""></figure>
        </div>
        <div class="card-content">
            <div class="media">
                <div class="media-left">
                    <figure class="image is-48x48"><img :src="track.album.images[0].url" alt=""></figure>
                </div>
                <div class="media-content">
                    <p class="title is-6"><strong>{{track.name}}</strong></p>
                    <p class="subtitle is-6">{{track.artists[0].name}}</p>
                </div>
            </div>

            <div class="content">
                <small>{{track.duration_ms}}</small>
                <nav class="level">
                    <div class="level-left">
                        <a href="javascript:void(0)" class="level-item">
                            <span class="icon is-small" @click="selectTrack">&#9199;</span>
                            <span class="icon is-small" @click="goToTrack(track.id)">&#9197;</span>
                        </a>
                    </div>
                </nav>
            </div>
        </div>
    </div>
    -->
    <slot name="tracksnumber"></slot>
</div> 
</template>

<script>
export default {
    props: {
        track: { type: Object, required: true}
    },
    methods: {
        selectTrack () {
          if(!this.track.preview_url) {return}
            this.$emit('select',this.track.id) //para el padre y que se seleccione de color verde

            //aqui ocupamos el plugin que creamos en event-bus y declaramos global en main.js
            //$bus es global y emite el evento a CUALQUIER componente que lo escuche con $bus.$on SE USA PORQUE NO ES HIJO NI PADRE
            this.$bus.$emit('playingtrack', this.track)
        },

        goToTrack (id) {
            if(!this.track.preview_url) {return}
            this.$router.push({ name: 'track', params: { id: id }}) //el mismo parametro id que la funcion de arriba por que es el que pasa el padre en el for de los tracks
        }
    }
}
</script>

<style lang="css" scoped>

</style>