<template>
    <div class="container">
        <div class="columns">
            <div class="column is-5 is-offset-4">
                <PMtrack :track="track"></PMtrack>
            </div>
        </div>
    </div>
</template>

<script>
import PMtrack from '@/components/track.vue'
import trackService from '@/services/track'

export default {
    data (){
        return{
            track: {}
        }
    },
    components: {
        PMtrack: PMtrack
    },

    created () {
        // plugin $route es para acceder a los parametros que viajan en la URL
        const id = this.$route.params.id // id es como declaramos el parametro en routes.js

        trackService.getById(id)
            .then( res =>{
                console.log(res)
                this.track = res
            })
    }
}
</script>

<style lang="scss" scoped>
    .column{
        margin: 20px;
    }
</style>