<template>
  <v-app>
    <PMheader></PMheader>
    <PMplayer/>
    <router-view></router-view>
    <PMfooter></PMfooter>
  </v-app>
</template>

<script>
import HelloWorld from './components/HelloWorld';
import PMheader from '@/components/layout/header.vue'
import PMfooter from '@/components/layout/footer.vue'
import PMplayer from '@/components/player.vue'

export default {
  name: 'App',
  components: {
    PMheader: PMheader,
    PMfooter: PMfooter,
    PMplayer
  },
  data: () => ({
    //
  }),
};
</script>
